*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    /* max-width: 80%; */
    /* background-color: rgb(240 226 237); */
    padding: 24px;
    margin: auto;
}
.container h1, p{
    text-align: center;
    padding: 4px;
    color: white;
}
/* h1{
    font-size: 16px;
} */

h3{
    text-align: center;
    padding: 4px; 
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
p{
    color: green;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
input, textarea, select{ 
    display: block;
    width:80%;
    margin: 8px auto;
    padding: 6px;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    outline: none;

}

.booking{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
label {
    display: inline-block;
    text-align: left;
    width: 80%;
    font-weight: bold;
    color: white;
}
